@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..9001,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rethink Sans", "Noto sans", sans-serif;
  color: black;
  position: relative;
  word-wrap: break-word; }

h1 {
  font-size: 54px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: 3px;
  margin-top: 60px; }

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.8px;
  margin-bottom: 28px;
  text-align: center; }

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 1.4px;
  margin-bottom: 28px; }

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 160%; }

h5 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; }

a {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
  color: #10A1AF; }

nav {
  background-color: black; }

.nav_list {
  max-width: 1440px;
  padding: 10px 64px; }
  .nav_list img {
    display: block; }

.section {
  max-width: 1440px;
  margin: 120px auto;
  padding: 0 40px; }

footer {
  margin: 140px auto 80px; }
  footer h5 {
    text-align: center;
    font-weight: 400;
    color: #454545; }

.hero {
  text-align: center;
  padding: 160px 0px 140px;
  overflow: hidden; }
  .hero h5 {
    padding: 16px 28px;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: inline-block; }
  .hero h1 {
    max-width: 1440px;
    margin: 12px auto 40px;
    padding: 0 40px;
    color: white;
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.8); }
  .hero h4 {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.company_cards {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.company_card {
  margin: 20px;
  cursor: pointer;
  background-color: white;
  border-radius: 12px;
  border: 4px solid white;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .company_card:hover {
    border: 4px solid #10A1AF;
    -webkit-box-shadow: 0px 0px 40px 4px rgba(255, 255, 255, 0.4);
    box-shadow: 0px 0px 40px 4px rgba(255, 255, 255, 0.4); }
  .company_card img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 4px; }
    .company_card img:hover {
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

.hero_bg {
  width: auto;
  height: 120%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1; }

.analysis_result {
  text-align: center;
  border-bottom: 1px solid #454545; }

.analysis_logo {
  margin: 20px; }

.company_link {
  cursor: pointer;
  font-size: 14px;
  color: white;
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #454545;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .company_link:hover {
    background-color: #2E2E2E; }
  .company_link img {
    margin-left: 4px; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0; }

.img_content {
  width: 320px;
  min-width: 320px;
  margin-right: 40px; }
  .img_content .mask {
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #B9B9B9;
    border-radius: 12px;
    background-color: #F5F5F5; }

.text_content {
  text-align: left; }
  .text_content h3 {
    margin-bottom: 12px; }

.textarea {
  max-height: 580px;
  background-color: #F5F5F5;
  padding: 24px 32px;
  border-radius: 12px;
  overflow-y: scroll; }

.interactive_content {
  margin-top: 28px; }

.desktop_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .desktop_mode .column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-width: calc(50% - 40px);
    -ms-flex-positive: 1;
    flex-grow: 1; }
    .desktop_mode .column:first-of-type .title::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #959595;
      position: absolute;
      right: -100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
  .desktop_mode .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 100px;
    padding: 12px 28px;
    background-color: #959595;
    margin-bottom: 28px; }
    .desktop_mode .title img {
      margin-right: 10px; }
    .desktop_mode .title h4 {
      color: white;
      font-weight: 400;
      line-height: 120%; }
  .desktop_mode .article::after {
    content: url("../img/keyboard_double_arrow_right.svg");
    width: 40px;
    height: 40px;
    position: absolute;
    right: -60px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: none; }
  .desktop_mode .article:hover::after {
    display: block; }
  .desktop_mode .answer_list {
    border-radius: 12px;
    border: 1px solid #757575;
    padding: 12px 28px; }

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 12px;
  border: 1px solid #454545;
  padding: 16px 20px;
  margin-bottom: 12px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer; }
  .article:hover {
    border: 1px solid #454545;
    background-color: #454545; }
  .article:hover h4 {
    color: white; }
  .article img {
    margin-right: 10px; }
  .article h4 {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    line-height: 140%; }

.active {
  border: 1px solid #454545;
  background-color: #454545; }
  .active img {
    content: url("../img/bookmark_fill_white.svg"); }
  .active h4 {
    color: white; }

.answer {
  padding: 16px 0;
  border-bottom: 1px solid #ECECEC; }
  .answer a {
    line-height: 140%; }

.connect {
  width: 40px;
  height: 100%;
  margin: 0 20px; }

.mobile_mode .title h4 {
  font-weight: 500;
  color: #959595;
  margin-bottom: 12px; }

.mobile_mode .column {
  margin-bottom: 40px; }

select {
  width: 100%;
  border: 1px solid #454545;
  padding: 16px 20px;
  font-size: 20px;
  border-radius: 12px; }

.after_chooice {
  display: none; }

@media (min-width: 1025px) {
  .mobile_mode {
    display: none; } }

.feature_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.feature_card {
  text-align: center;
  padding: 40px 40px 160px;
  margin: 0 20px;
  overflow: hidden;
  border-radius: 20px; }
  .feature_card h3 {
    color: white; }
  .feature_card h4 {
    color: white; }
  .feature_card img {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: auto;
    height: 100%;
    z-index: -1; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px; }
  .features .feature {
    width: 25%;
    margin: 0 24px;
    text-align: center; }
    .features .feature h4 {
      font-weight: 700;
      margin: 12px 0; }
    .features .feature h5 {
      font-weight: 500;
      color: #757575; }

@media (max-width: 1024px) {
  .desktop_mode {
    display: none; } }

@media (max-width: 440px) {
  .mobile_hidden {
    display: none; }
  body {
    width: 100vw;
    overflow-x: hidden; }
  .nav_list {
    padding: 10px 20px; }
  .section {
    padding: 0 20px; }
  h1 {
    font-size: 28px;
    line-height: 140%;
    padding: 0 20px; }
  h2 {
    font-size: 28px; }
  h3 {
    font-size: 22px;
    letter-spacing: 0; }
  .company_cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .company_card {
    margin: 8px 8px; }
    .company_card img {
      width: 140px;
      height: auto; }
  .section {
    padding: 0 20px; }
  .feature_cards {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .feature_card {
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px; }
  .features {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .features .feature {
      width: 100%;
      margin-bottom: 80px; } }
