@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..9001,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rethink Sans", "Noto sans", sans-serif;
  color: black;
  position: relative;
  word-wrap: break-word; }

h1 {
  font-size: 36px;
  font-weight: 800;
  line-height: 120%;
  margin-top: 60px; }

h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.8px;
  margin-bottom: 28px; }

h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 1.4px;
  margin-bottom: 28px; }

h4 {
  font-size: 20px;
  font-weight: 300;
  line-height: 160%; }

h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%; }

a {
  font-size: 20px;
  font-weight: 300;
  line-height: 120%;
  color: #10A1AF; }

@media (max-width: 440px) {
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 28px; }
  h3 {
    font-size: 24px; }
  a {
    font-size: 18px; } }

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 16px 12px;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  cursor: pointer; }
  button img {
    width: 16px;
    height: 16px;
    margin-right: 12px; }
  button:hover {
    background-color: #F5F5F5; }
  button.cta {
    color: white;
    background-color: black; }
    button.cta:hover {
      background-color: #2E2E2E; }

.button-group {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .button-group button {
    max-width: 120px; }
  .button-group .cta:only-child {
    margin-left: auto; }

form label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px; }

form input,
form select {
  width: 100%;
  font-size: 16px;
  padding: 8px 12px;
  margin-bottom: 16px; }
  form input::-webkit-input-placeholder,
  form select::-webkit-input-placeholder {
    color: #B9B9B9; }
  form input:-ms-input-placeholder,
  form select:-ms-input-placeholder {
    color: #B9B9B9; }
  form input::-ms-input-placeholder,
  form select::-ms-input-placeholder {
    color: #B9B9B9; }
  form input::placeholder,
  form select::placeholder {
    color: #B9B9B9; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px; }
  .form-group label {
    padding: 10px 0;
    margin-right: 8px;
    margin-bottom: 14px;
    white-space: nowrap; }
  .form-group .suffix {
    margin-bottom: 14px;
    font-weight: 400; }

.input-wrapper input {
  padding-right: 50px; }

.input-wrapper img {
  position: absolute;
  right: 16px;
  top: 11px;
  cursor: pointer;
  z-index: 1; }

@media (max-width: 440px) {
  .form-group {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .form-group label {
      margin-bottom: 0px;
      padding-bottom: 0; } }

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

nav {
  padding: 20px; }

footer {
  padding: 40px;
  text-align: center; }

.container {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.content {
  width: 100%;
  max-width: 380px;
  margin: 40px auto;
  padding: 0 20px; }
  .content h1 {
    font-size: 40px;
    font-weight: 400;
    text-align: center; }
  .content > h5 {
    color: #757575;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 40px; }

.separate_line {
  margin: 28px auto; }
  .separate_line::before {
    content: '';
    background-color: black;
    width: 100%;
    height: 0.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -2; }
  .separate_line:after {
    content: '';
    width: 28px;
    height: 20px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1; }

.password-hint {
  border-radius: 8px;
  background-color: #F5F5F5;
  font-size: 14px;
  color: #757575;
  padding: 12px;
  margin-bottom: 28px; }
  .password-hint li {
    color: #B9B9B9;
    left: 24px;
    margin: 2px 0; }
    .password-hint li.valid {
      color: #757575; }
      .password-hint li.valid::before {
        content: '✔️';
        font-size: 10px;
        position: absolute;
        left: -22px;
        background-color: #F5F5F5; }
    .password-hint li.invalid {
      color: #ED0000; }
      .password-hint li.invalid::before {
        content: '❌';
        font-size: 10px;
        left: -22px;
        position: absolute;
        left: -22px;
        top: 2px;
        background-color: #F5F5F5; }
