.title
	img(src='../img/customization/anue/anue-resource.svg' width='25px' height='25px' alt='resource')
	h5.label 資料來源
.card
	.data_source
		a(href='' target='_blank').data_card
			h4 AI軟體概念股有哪些？AI軟體、AI硬體怎麼分？9檔美國、台灣AI軟體概念股，AI軟體概念股可以買嗎？-股市分析
			h5 如果要提到2023年最夯的投資話題，想必非AI莫屬！ChatGPT 的橫空出世，帶動AI產業無論是硬體設備或軟體元件，都開始進入
		a(href='' target='_blank').data_card
			h4 川普助攻軍工股！這檔「軍工 ETF」 漲幅18% 0050、QQQ都不是對手
			h5 美國科技股漲勢熄火，上周美國最大零售商沃爾瑪（Walmart）公布最新展望不佳，引發市場對美國經濟前景的擔憂，
		a(href='' target='_blank').data_card
			h4 軍工複合體是什麼？軍火公司可以投資嗎？美國 5 大軍火概念股 -股票入門
			h5 今年 10 月以巴發生衝突，軍火公司以及軍工複合體也成為了關注焦點，到底​​軍工複合體是什麼？
		a(href='' target='_blank').data_card
			h4 軍工概念股有哪些？12大台、美軍工概念股！軍工概念股總整理 -股市分析
			h5 軍工股一直以來都是金融市場上的一個引人注目的投資領域，因為它們密切關聯著國家的國防能力和國際地位
