doctype html
html(lang='en')
	head
		include ./components/_meta.pug
		title Sign up
		link(rel='stylesheet', href='../css/onboarding.css')

	body
		include ./onboarding/_navigation.pug

		//- 內容開始 –––––––––––––––––––––––––––––––––––––––––––––––––––
		
		.container
			.content
				//- 步驟指示圖 (總步驟數, 當前步驟)
				include ./components/__stepper.pug
				+stepIndicator(3, 1)

				h3 Setup website
				form(id='setupForm')
					.form-group
						label(for='website') Install website url
						input(type='text' placeholder='www.your_website.com')
					.form-group
						label(for='aigc-url') AIGC page url
						.input-wrapper
							input(type='text' placeholder='your site')
						h5.suffix .mlyticsaigc.com
					.form-group
						label(for='response-lang') Response language
						select
							option(value='en') English
							option(value='zh') 中文
					.button-group
						button(type='button') Back
						button.cta(type='submit') Next

		//- 內容結束 –––––––––––––––––––––––––––––––––––––––––––––––––––

		include ./onboarding/_footer.pug
		script(src='../js/signup.js')

