#ai_widget {
  width: 48px;
  height: 48px;
  padding: 0;
  top: initial;
  right: 8px;
  bottom: 30%; }
  #ai_widget img {
    width: 48px;
    height: 48px; }
  #ai_widget::after {
    opacity: 0; }
  #ai_widget:hover img {
    -webkit-transform: scale(1.05) rotate(0deg);
    -ms-transform: scale(1.05) rotate(0deg);
    transform: scale(1.05) rotate(0deg); }

#aigc-also-ask {
  background-color: #EEEEEE;
  -webkit-box-shadow: 2px 4px 16px #00000036;
  box-shadow: 2px 4px 16px #00000036; }
  #aigc-also-ask .head {
    margin-bottom: 12px; }
  #aigc-also-ask .logo img {
    width: 30px;
    height: 30px; }
  #aigc-also-ask .logo p {
    color: #0032E1;
    font-size: 18px;
    font-weight: 700;
    margin: 0; }
  #aigc-also-ask .close {
    width: 60px;
    height: 32px;
    padding: 0 12px;
    background-color: #7790E7;
    border-radius: 12px;
    vertical-align: center; }
    #aigc-also-ask .close img {
      width: 32px;
      height: 32px;
      right: -2px; }
    #aigc-also-ask .close:hover::after {
      opacity: 0; }

.question-title {
  display: none;
  height: 0; }

.question-text {
  font-weight: 400; }

.question-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-color: #D9E2F1;
  background-color: #fff;
  border-radius: 12px;
  gap: 0; }
  .question-link img {
    display: none; }
  .question-link:hover {
    border-color: #D9E2F1;
    background-color: #E0E2E4; }
  .question-link:hover .question-text {
    color: black;
    border-color: #000; }
  .question-link:focus {
    border-color: #0032E1;
    background-color: #0032E1; }
  .question-link:focus .question-text {
    color: white; }
