mixin stepIndicator(steps, currentStep)
	.stepper
		each stepNumber in [...Array(steps).keys()].map(n => n + 1)
			.step-wrapper(class=stepNumber < currentStep ? 'prev' : stepNumber === currentStep ? 'current' : 'next')
				if stepNumber !== 1
					.line
				.circle #{stepNumber}

link(rel='stylesheet', href='../css/elements/__stepper.css')
script(src='../js/stepper.js')
