footer
	h5 本頁面由AI生成，不代表官方立場
	h5 © 2035 by Mlytics
		span  | 
		a(href='https://www.mlytics.com/terms/' target="_blank") Terms of use
		span  | 
		a(href='https://www.mlytics.com/privacy/' target="_blank") Privacy policy