//- 文章表現數字
.performance
	.data
		img(src='../img/visibility_stable.svg' width='28px' height='28px' alt='view')
		h5 133,854
	.data
		img(src='../img/thumb_up_stable.svg' width='28px' height='28px' alt='like')
		h5 13,324
	.data
		img.thumb-down(src='../img/thumb_up_stable.svg' width='28px' height='28px' alt='unlike')
		h5 2,142
	//- 媒體分享
	.data
		h5 分享給好友
		a(href='')
			img(src='../img/line.svg' width='32px' height='32px' alt='line')
		a(href='')
			img(src='../img/fb.svg' width='32px' height='32px' alt='facebook')
		a(href='')
			img(src='../img/link.svg' width='32px' height='32px' alt='link')