button,
a.button
	display: inline-flex
	align-items: center
	justify-content: center
	padding: 16px 20px
	font-size: 16px
	font-weight: 500
	color: black
	line-height: 120%
	border: 1px solid black
	border-radius: 2px
	background-color: white
	cursor: pointer
	text-decoration: none
	img
		width: 16px
		height: 16px
		margin-right: 12px
	&:hover
		background-color: $black_10
	&.full
		width: 100%
	&.no-border
		border: none 
	&.fill
		color: white
		background-color: black
		&:hover
			background-color: $black_80
	&.text
		width: initial
		border: none
		padding: 0
		color: $black_40
		background-color: white
		&:hover
			color: black

// 單一按鈕齊右，兩顆按鈕左右撐開
.button-group
	margin-top: 40px
	display: flex
	justify-content: space-between
	.button
		max-width: 120px
		&:only-child
			margin-left: auto
			