doctype html
html(lang='en')
	head
		include ./components/_meta.pug
		title AIGC double column
		link(rel='stylesheet', href='../css/aigc-index.css')

	body.answer_page.double_column
		include ./components/_navigation.pug
		//- 側邊欄開關
		include ./components/_slide_nav_mobile_only.pug

		//- 內容開始 ––––––––––––––––––––––––––––––––––––––––––––––––––––
		
		.articles.reading_width
			.article
				h1 Palantir 的軍工背景如何影響其商業策略?
				//- 左欄
				.main_column
					//- AI 回覆內容
					.section#output_column
						include ./components/_ai_answer_content.pug
					//- 資料來源/ 手機版
					.section.desktop_hide
						include ./components/_data_resource_scroll.pug
					//- 閱讀更多
					.section
						include ./components/_read_more.pug
					//- 載入狀態
					.section
						h5.loading-text Loading
					//- 互動按鈕 & 文章表現數字
					.section
						include ./components/_user_interactive.pug
						include ./components/_performance.pug
				//- 右欄
				.side_column
					//- 資料來源/ 桌機版
					.section.mobile_hide
						include ./components/_data_resource_expand.pug
					//- 閱讀紀錄/ 手機側邊欄
					.section.side_nav.history_section
						h5 閱讀紀錄
						h5.side_nav_close.desktop_hide 隱藏 →
						h6 
							img(src='../img/history_toggle_off.svg' width='20px' height='20px' alt='no record')
							span 此為暫時記錄，會在頁面關閉後消失
						include ./components/_history_list.pug

		//- 內容結束 ––––––––––––––––––––––––––––––––––––––––––––––––––––

		include ./components/_footer.pug
		script(src='../js/answer.js')
		script(src="../js/ai-widget-plugin.js" defer)
