mixin stepIndicator(steps, currentStep)
	.stepper
		each stepNumber in [...Array(steps).keys()].map(n => n + 1)
			.step-wrapper(class=stepNumber < currentStep ? 'prev' : stepNumber === currentStep ? 'current' : 'next')
				if stepNumber !== 1
					.line
				.circle #{stepNumber}

link(rel='stylesheet', href='../css/elements/__stepper.css')
script(src='../js/components/stepper.js')

//- [步驟流程圖]

//- copy code –––––––––––––––––––––––––––––––––––––––––––

//- include ./components/__stepper.pug
//- +stepIndicator(3, 1)

//- –––––––––––––––––––––––––––––––––––––––––––––––––––––

//- How to setup
//- (總步驟數, 當前步驟)