ol.history_list
	li
		a(href='../html/aigc-answer_v2.html') 
			span Related Palantir 的軍工背景如何影響其在商業市場的競爭力?
			img(src='../img/arrow_outward_link.svg' width='20px' height='20px' alt='link')
	li
		a(href='../html/aigc-answer_v2.html') 
			span Palantir 的軍工背景是否影響其在 AI 技術上的創新?
			img(src='../img/arrow_outward_link.svg' width='20px' height='20px' alt='link')
	li
		a(href='../html/aigc-answer_v2.html')
			span Palantir 的軍工背景如何影響其客戶的信任度?伊能靜提到關於和秦昊暫時沒有共同買房的原因是什麼？
			img(src='../img/arrow_outward_link.svg' width='20px' height='20px' alt='link')
	li
		a(href='../html/aigc-answer_v2.html') 
			span Palantir 的軍工背景是否影響其在政府合約上的競爭優勢?
			img(src='../img/arrow_outward_link.svg' width='20px' height='20px' alt='link')
	