meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
meta(name="robots" content="index, follow")
meta(name="author" content="Mlytics")
meta(name="description" content="待補資料")
meta(name="keywords" content="待補資料")

// Open Graph (OG) for Facebook
meta(property="og:title" content="待補資料")
meta(property="og:description" content="待補資料")
meta(property="og:image" content="待補資料")
meta(property="og:url" content="待補資料")
meta(property="og:type" content="website")
meta(property="og:site_name" content="待補資料")
meta(property="fb:app_id" content="待補資料")

// Instagram OG Tags
meta(property="og:instagram:site" content="待補資料")
meta(property="og:instagram:title" content="待補資料")
meta(property="og:instagram:description" content="待補資料")
meta(property="og:instagram:image" content="待補資料")

// Twitter Meta Tags
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="待補資料")
meta(name="twitter:description" content="待補資料")
meta(name="twitter:image" content="待補資料")

link(rel='icon', href='./favicon.ico', type='image/x-icon')